body {
    background-color: #F5F5F5;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

.input-container {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#data {
    margin-left: 10px;
    background-color: rgba(15, 15, 15, 0.199);
    color: rgb(25, 25, 26);
    text-align: center;
    border-radius: 5px;
}

button {
    padding: 12px 24px;
    color: white;
    background-image: linear-gradient(to right, #868580, #575553);
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    border-radius: 5px;
}

.button-container,
.delete-button-container {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas-container {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-container label {
    margin-right: 10px;
}

.type-container select {
    background-color: rgba(15, 15, 15, 0.199);
    color: rgb(25, 25, 26);
    text-align: center;
    border-radius: 5px;
}

#deleteButton {
    display: none;
}